/* novaconsulta.css */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block; /* Alterado para block para alinhamento adequado */
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    border: none;
}

/* Novo grupo para alinhar os elementos horizontalmente */
.form-group.horizontal-group {
    display: flex;
    align-items: center;
}

.form-group.horizontal-group label {
    margin-right: 10px;
}

.form-group.horizontal-group input,
.form-group.horizontal-group select {
    width: auto; /* Ajuste a largura conforme necessário */
    margin-right: 10px; /* Espaçamento entre os elementos */
}

.form-group.horizontal-group select:last-child {
    margin-right: 0; /* Remove o espaçamento do último elemento */
}
.submit-group {
    text-align: center;
    margin-top: 20px; /* Adicionando um espaçamento superior para separar do restante do formulário */
}

.submit-group button {
    padding: 10px 15px;
    background-color: #63e742;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Adicionando display block para ocupar toda a largura disponível */
    display: block;
    /* Removendo a margem automática para garantir que o botão não seja deslocado horizontalmente */
    margin: 0 auto;
    /* Adicionando largura máxima para evitar que o botão ocupe toda a largura em telas grandes */
    max-width: 200px; /* Você pode ajustar esse valor conforme necessário */
}

submit-group button:hover {
    background-color: #0056b3;
}

